<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="/join" method="post">
    <div class="idbox"><input name="memberId" type="text" placeholder="아이디"></div>
    <div class="pwbox"><input name="memberPw" type="text" placeholder="패스워드"></div>
    <div class="nicknamebox"><input name="memberNickName" type="text" placeholder="닉네임"></div>
    <div class="namebox"><input name="memberName" type="text" placeholder="이름"></div>
    <div class="phonenumbox"><input name="memberNum" type="text" placeholder="전화번호"></div>
    <div class="emailbox"><input name="memberEmail" type="text" placeholder="이메일"></div>
    <button type="submit">회원가입</button>
</form>
</body>
</html>